<% include ../partials/header %>

<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
         <% blogs.forEach(function(blog){ %>
        <div class="col-md-3 col-sm-6">
           
            <h1><%= blog.name %></h1>
            <a href="/blogs/<%=blog._id%>">
            <img class="thumbnail img-responsive" src="<%= blog.image %>">
            </a>
            <p clas="blockquote"><%= blog.body.substring(0,100) + "......" %><a class="inline" href="/blogs/<%=blog._id%>">More</a></p>
            
            
            </div>
            <% }); %>
            </div>
           
</div>




<% include ../partials/footer %>